@font-face {
  font-family: "Aladin";
  src: url("fonts/Aladin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Combo";
  src: url("fonts/Combo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shadows Into Light Two";
  src: url("fonts/ShadowsIntoLightTwo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sekuya";
  src: url("fonts/Sekuya-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fascinate Inline";
  src: url("fonts/FascinateInline-Regular.ttf") format("truetype");
}

.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

.combo-regular {
  font-family: "Combo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fascinate-inline-regular {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}



body {
    background-image: url(images/bg4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e4b363;
    font-family: "Fascinate Inline";
    /* margin-left: 30px; */
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
    font-weight: bold;
    letter-spacing: 20px;
    font-size: 10vh;
    opacity: 90%;
    text-align: center;
}

.toplinks {
    text-align: right;
    color: #e4b363;
    margin-top: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.toplinks a {
    color: #e4b363;
    text-decoration: none;
    font-family: "Combo";
    font-size: 2vw;
    margin-left: 20px;
    opacity: 100%;
}

.toplinks a:hover {
  color: #ffffff;
}

.htag {
    position: absolute;
    color: #e4b363;
    margin-top: 0;
    top: 20px;
    left: 10px;
    font-family: "Shadows Into Light Two", cursive;
    font-style: italic;
}

.htag2 {
    position: absolute;
    color: #e4b363;
    margin-top: 0;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Combo";
    font-style: italic;
    font-size: 20px;
}

.slogan {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-54%);
    top: 14vh;
    font-family: "Shadows Into Light Two", cursive;
    font-size: 1.5vh;
    opacity: 50%;
    text-align: center;
}

.hpagectext {
    position:absolute;
    color: white;
    opacity: 90%;
    bottom: 25vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Combo";
    letter-spacing: 2px;
    font-size: 10vh;
}

.photo-gallery {
    position: absolute;
    top: 400px;
}

.footlinks {
    color: #e4b363;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    word-spacing: 30px;
}

.footlinks a i {
    color: #e4b363 !important;
    text-decoration: none !important;
    font-size: 5vh;
}

/* This handles the hover state specifically */
.footlinks a:hover i {
    color: #ffffff !important;
}